*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

:root {
    /** ==== Colors ===== */
    /** Ubah Warna */
    --hue-color: 250;
    /*? Purple 250 - Green 142 - Blue 230 - Pink 340 */

    /** HSL Kumpulan Kode Warna */
    /* ? HSL adalah hsl(Hue, Saturation, Lightness) */

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /** ==== Font and Typhography ===== */
    /*! .5 rem = 8px, 1 rem = 16 px, 1.5 rem = 24 px, dst */

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /** ==== Font Weight ===== */
    --font-medium: 500;
    --font-semi-bold: 600;
}

html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 74px 85px 66px 70px;
    position: absolute;
    width: 1440px;
    height: 126px;
    background-color: #254747;
}

.logo{
    color: #EFF1EB;
    width: 138px;
    height: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

nav ul li{
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
    transition: 0.5s;
    padding: 0 0 8px 0;
    margin-bottom: 16px;
}

.header .background{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.register{
    color: white;
    padding: 13px 27px;
    gap: 28px;
    width: 120px;
    height: 45px;
    background: #1E1E1E;
    border-radius: 26px;
    font-weight: bold;
}
.home{
    position: absolute;
    width: 357px;
    height: 105px;
    left: 541px;
    top: 189px;
    font-family: 'Inter';
    font-size: 80px;
    line-height: 105px;
    align-items: center;
    font-weight: bold;
}