@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', 'Helvetica;'
}
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 74px 85px 66px 70px;
    position: absolute;
    width: 1440px;
    height: 126px;
    background-color: #FAF3DD;
}

.logo{
    color: #4A7C59;
    width: 138px;
    height: 35px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

nav ul li{
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #4A7C59;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
    transition: 0.5s;
    padding: 0 0 8px 0;
    margin-bottom: 16px;
}

.header .background{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.register{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 27px;
gap: 28px;

width: 120px;
height: 45px;

background: #C8D5B9;
border-radius: 26px;
border: none;
}

.register{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #4A7C59;
}


/* 
.register{
    color: #4A7C59;
    padding: 13px 27px;
    gap: 28px;
    width: 120px;
    height: 45px;
    background: #C8D5B9;
    border-radius: 26px;
    font-weight: bold;
   border: none;
} */

.home{
    position: absolute;
    width: 357px;
    height: 105px;
    left: 541px;
    top: 189px;
    font-family: 'Inter';
    font-size: 80px;
    line-height: 105px;
    align-items: center;
    font-weight: bold;
}