/* INTER FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* DM SANS FONT */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


/* === ADJUST === */
:root{
    --green: #D4DDD4;
    --white: #FFFFFF;
    --orange: #D66F4C;
    --black: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    padding: 0 6.25rem;
}

header{
    margin-bottom: 50px;
}

a {
    color: var(--black);
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100px;
    background-color: var(--green);
    padding: 30px 71px 21px 83px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background: #D4DDD4;
    justify-content: space-between;
}

.nav_logo{
    font-family: 'Poppins';
    font-style: normal;
    color: #000000;
    font-weight: 700;
    font-size: 28.8989px;
    line-height: 43px;
}

.nav_logo:hover{
    color: var(--orange);
    transition: 0.2s;
    font-size: 30px;
    font-weight: 900;
}


.login-menu{
    display: flex;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 14px;
    /* gap: 14px; */
}

.login-menu a{
    margin-left: 41px;
}

a:hover{
    color: var(--orange);
    transition: 0.2s;
}

#table{
    display: flex;
    /* justify-content: space-between; */
    align-items: center; 
    text-align: left;
    flex-direction: row;
    padding: 40px;
    justify-content: center;
}

.add-member .container{
    align-self: center;
    display: flex;
    flex-direction: row;
}

#table thead th{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    padding-right: 60px;
    font-size: 15px;
}

#table td{
    padding-right: 80px;
}

#table tr{
    text-align: left;
}

tbody tr{
    margin-bottom: 33px;
}

#table a:hover{
    color: var(--black);
    transition: 0.2s;
    text-decoration: underline;
}

.flazz .a{
    padding-left: 20px;
}

label{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400px;
    color: #5B5B5B;
}
.timeline {
    display: flex;
    justify-content: center;
}

.rect {
    height: 150px;
    width: 100px;
    background-image: linear-gradient(to bottom, #D4DDD4, #D66F4C);
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    transform: rotate(-90deg);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

.rect p {
    position: relative;
    top: 20px;
    transform: rotate(90deg);
}

.circle {
    display: block;
    width: 100px;
    height: 50px;
    top: -50px;
    left: 0;
    overflow: hidden;
    position: absolute;
}

.circle:after {
    content: '';
    width: 100px;
    height: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: -100px;
    left: -40px;
    border: 40px solid #D4DDD4;
}

.bayar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    color: var(--white);
    background-color: var(--orange);
    padding: 15px;
    box-shadow: 0px 2.93176px 3.6647px rgba(0, 0, 0, 0.25);
    border-radius: 8.79528px;
    border-style: solid;
    border-color: var(--orange);
}

.btn a{
    color: var(--white);
    font-weight: 500;
}

.btn:hover{
    border-color: var(--black);
    transition: 0.4s;
}

.technical{
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-color: var(--orange);
}

