/* INTER FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* DM SANS FONT */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


/* === ADJUST === */
:root{
    --green: #D4DDD4;
    --white: #FFFFFF;
    --orange: #D66F4C;
    --black: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    padding: 5rem 6.25rem;
    height: 100%;
    width: 100%;
    background-color: var(--white);
}

#form .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 49px;
    justify-content: space-between;
}

#form .container h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 86.7657px;
    line-height: 113px;
    color: var(--black);
    margin-bottom: 11px;
}

form{
    padding: 32px 49px;
    background-color: var(--green);
    border-radius: 20px;
}

.pad{
    margin-bottom: 23px;
}

input{
    width: 500px;
    left: 0px;
    top: 34.55%;
    bottom: 2.73%;
    background: #F5F5F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 20px 18px;
}

.login_button{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.back{
    padding: 20px 35px;
    background: #D66F4C;
    box-shadow: 0px 2.93176px 3.6647px rgba(0, 0, 0, 0.25);
    border-radius: 8.79528px;
    color: var(--white);
    border-style: solid;
    border-color: #D66F4C;
}