/* INTER FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* DM SANS FONT */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


/* === ADJUST === */
:root{
    --green: #D4DDD4;
    --white: #FFFFFF;
    --orange: #D66F4C;
    --black: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


#form .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 3rem;
    justify-content: space-between;
    background-color: var(--green);
}


#form .container h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 86.7657px;
    line-height: 113px;
    color: var(--black);
    margin-bottom: 11px;
}

#form .container form{
    background-color: #EAF0F9;
    border-radius: 20px;
    padding: 20px 70px 92px 76px;
}

#form .container form .informasi {
    margin-bottom: 20px;
}

#form .container form .informasi h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35.7267px;
    line-height: 54px;
    text-align: center;
}

.pad{
    margin-bottom: 23px;
}

label{
    padding-bottom: 8px;
}

input{
    width: 500px;
    left: 0px;
    top: 34.55%;
    bottom: 2.73%;
    background: #F5F5F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 20px 18px;
}

.label-btn{
    padding-bottom: 20px;
}

span{
    font-size: 10px;
}

.btn label[for="file"]{
    background-color: var(--orange);
    color: white;
    background: #D66F4C;
    box-shadow: 0px 2.93176px 3.6647px rgba(0, 0, 0, 0.25);
    border-radius: 8.79528px;
    cursor: pointer;
    padding: 15px;
}

.form_btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 231px;
    margin-top: 54px;
    justify-content: space-between;
    margin-bottom: 0px;
}

.submit{
    padding: 20px 35px;
    background: #D66F4C;
    box-shadow: 0px 2.93176px 3.6647px rgba(0, 0, 0, 0.25);
    border-radius: 8.79528px;
    color: var(--white);
    border-style: solid;
    border-color: #D66F4C;
}

.back{
    padding: 20px 35px;
    background: #D66F4C;
    box-shadow: 0px 2.93176px 3.6647px rgba(0, 0, 0, 0.25);
    border-radius: 8.79528px;
    color: var(--white);
    border-style: solid;
    border-color: #D66F4C;
}

.form_btn .btn:hover{
    transition: 0.1s;
    background: var(--white);
    color: black;
    border-style: solid;
    border-color: #D66F4C;
}